.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #646cff;
  padding: 20px 40px;

  &__nav {
    display: flex;
    gap: 20px;
  }

  &__link {
    font-size: 16px;
    color: white;
    cursor: pointer;
  }


}

