
.product__btn-purchase {
    border: none;
    background: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.product__btn-cancel {
  border: none;
  background: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.container__btn {
  display: flex;
  justify-content: space-around;
}